body {
  margin: 0px;
  padding: 0px;
  /* background-color: #d5ffedf8; */
  background-color: #00000000;
  min-width: 1200px;
}

nav {
  display: flex;
  margin: em 0em;
  background-color: rgb(0, 47, 0);
  background-image: linear-gradient(to bottom, rgb(0, 40, 0), rgb(0, 47, 0));
  color: white;
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
  min-width: 1200px;
  /* height: 100px; */
  height: 75px;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbar_link {
  /* box-sizing: border-box; */
  margin: 0px;
  padding: 0em 1em;
  height: 99%;
  transition: 0.1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .navbar_link:hover {
  box-sizing: border-box;
  border-bottom: solid 4px #e65100;
  color: #e65100;
}

nav img:hover {
  transition: 0.1s;
  /* transform: translateY(-2px); */
}

.navbar_icon {
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: center;
  margin: 0.5em;
}

.navbar_icon img {
  width: 100%;
}

.navbar_links {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.material-symbols-outlined {
  font-size: 2em;
}

.player_container {
  width: 100%;
  height: 450px;
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-sizing: border-box; */
  position: relative;
}

/* .playerbio_section {
  background-color: white;
  border-radius: 0.4em;
  
  max-width: 1075px;
  height: 100%;
  display: grid;
  margin: 1em;
  grid-template-areas:
    "pic pic pic bio bio stat stat stat stat"
    "pic pic pic bio bio xstat xstat xstat xstat"
    "pic pic pic wins wins radial radial radial radial"
    "pic pic pic spons spons radial radial radial radial";

  grid-template-columns: repeat(9, 1fr);
  gap: 10px;
  padding: 1em;
  
} */

.playerbio_section {
  background-color: white;
  border-radius: 0.4em;
  /* min-width: 1200px; */
  max-width: 1075px;
  height: 100%;
  display: grid;
  /* margin: 1em; */
  grid-template-areas:
    "pic pic stat stat stat stat wins wins wins"
    "pic pic xstat xstat xstat xstat wins wins wins"
    "bio bio radial radial radial radial rate rate rate"
    "spons spons radial radial radial radial rate rate rate";

  grid-template-columns: repeat(9, 1fr);
  gap: 0.6em;
  /* padding: 1em; */
  /* box-sizing: border-box; */
}

.playerbio_section > .playerbio_section_profilepic {
  grid-area: pic;
  height: 100%;
  max-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.4em;
  overflow: hidden;
  position: relative;
}

.playerbio_section_profilepic img {
  border-radius: 0.4em;
  height: 100%;
  /* max-height: 400px; */
  top: 0em;
  position: absolute;
  border-radius: 0.4em;
}

.playerbio_section > .playerbio_section_selfIntro {
  grid-area: bio;
  color: rgb(64, 64, 64);
  background-color: rgba(216, 253, 207, 0);
  /* border: 1px solid rgb(6, 129, 0); */
  height: 100%;
  max-height: 100px;
  padding: 0em;
  border-radius: 0.4em;
  font-family: "Urbanist", sans-serif;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.playerbio_section_selfIntro h4 {
  margin: 0px;
  font-size: 1.5em;
}

.playerbio_section_selftIntro .player_origin {
  display: flex;
}

.player_origin p,
i {
  margin: 0px;
  padding: 0px;
}

.playerbio_section > .playerbio_sponsors {
  grid-area: spons;
  background-color: rgb(182, 232, 255);
  border: 1px solid rgb(0, 71, 111);
  border-radius: 0.4em;
  min-height: 90px;
  height: 100%;
  width: 100%;
  display: flex;
  box-sizing: border-box;
}

.playerbio_section > .playerbio_section_media {
  grid-area: media;
  background-color: rgba(137, 173, 207, 0);
  height: 100%;
  width: 100%;
  font-family: "Urbanist", sans-serif;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.playerbio_section_media p {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.playerbio_section > .playerbio_globe_events {
  grid-area: wins;
  display: flex;
  align-items: center;
  justify-content: center;
  /* min-height: 100%; */
  width: 100%;
  height: 100%;
  background-color: #ffedd500;
  border-radius: 0.4em;
  overflow-x: hidden;
  overflow-y: hidden;
  /* border: 1px solid #fc2200;*/
  position: relative;
  color: white;
  font-family: "Urbanist", sans-serif;
  margin: 0em;
  padding: 0em;
}

.playerbio_globe_events #globe {
  border-radius: 0.4em;
  margin: 0em;
  padding: 0em;
}

#globe_tooltip {
  position: absolute;
  display: none;
  top:1em;
  right: 0px;
  align-items: center;
  justify-content: center;
  width: 200px;
  flex-wrap: wrap;
  margin: 0em;
  padding: 0.4em;
  background-color: rgba(51, 51, 51, 0.84);
  border-radius: 0.4em;
 }



.playerbio_section > .playerbio_ratingOverTime {
  grid-area: rate;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  /* min-height: 100px; */
  /* background-color: #d7b8ff; */
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom, rgb(0, 52, 0), rgb(0, 33, 15));
  border-radius: 0.4em;
  position: relative;
}

.playerbio_ratingOverTime .ratingOverTime_headerSection {
  display: flex;
  width: 94%;
  height: 10%;
  font-family: "Urbanist", sans-serif;
  color: rgb(229, 229, 229);
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0.4em;
}

.playerbio_ratingOverTime .ratingOverTime_headerSection h4,
select {
  margin: 0em;
  padding: 0em;
}

.rating_dropdown {
  background-color: rgba(255, 255, 255, 0);
  /* color: rgb(92, 92, 92); */
  color: rgb(229, 229, 229);
  border-style: none;
}

.rating_dropdown:active,
.rating_dropdown:focus {
  background-color: rgba(255, 255, 255, 0);
  color: rgb(92, 92, 92);
  outline: none;
}

.playerbio_ratingOverTime .ratingOverTime_chartDiv {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 2em;
  left: 1em;
}

.playerbio_highlights {
  grid-area: stat;
  width: 100%;
  height: 100%;
  /* background-color: #e65100a5; */
  /* background-image: linear-gradient(to bottom, rgb(0, 40, 0), rgb(0, 47, 0)); */
  /* padding: 0.5em 0.5em; */
  border-radius: 0.4em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.playerbio_highlights .highlights_headerSection {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 0.4em 0em;
  font-family: "Urbanist", sans-serif;
  color: rgb(68, 68, 68);
}

.playerbio_highlights .highlights_headerSection h4,
select {
  margin: 0em;
  padding: 0em;
}

.highlights_titleAndH2H {
  display: flex;
  gap: 0.6em;
  align-items: center;
  justify-content: center;
}

.career_dropdown {
  background-color: rgba(255, 255, 255, 0);
  color: rgb(92, 92, 92);
  border-style: none;
}

.career_dropdown:active,
.career_dropdown:focus {
  background-color: rgba(255, 255, 255, 0);
  color: rgb(92, 92, 92);
  outline: none;
}

.playerbio_highlights .playerbio_section_mainStats {
  width: 100%;
  height: 100%;
  /* background-color: #e65100a5; */
  /* background-image: linear-gradient(to bottom, rgb(0, 40, 0), rgb(0, 47, 0)); */
  color: rgb(235, 235, 235);
  /* padding: 0.5em 0.5em; */
  border-radius: 0.4em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "Urbanist", sans-serif;
  gap: 0.4em;
  box-sizing: border-box;
}

.mainStats_wins {
  padding: 0.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* width:75px;
  height: 75px; */
  min-width: 100px;
  min-height: 100px;
  /* max-height: 90px; */

  /* background-color: rgb(0, 57, 0); */
  background-image: linear-gradient(to bottom, rgba(0, 57, 0, 0.841), rgb(0, 37, 0));
  /* background-color: #fefae0c1; */
  /* background-color: #d5ffedf8; */
  /* background-image: linear-gradient(to bottom, rgb(0, 71, 0),rgb(0, 33, 15)); */
  border-radius: 0.4em;
  /* box-shadow: 0px 1px rgb(87, 87, 87); */
}

.mainStats_topTens {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* width: 75px;
  height: 75px; */
  min-width: 100px;
  min-height: 95px;
  max-height: 100px;

  /* background-color: #606c38b8; */
  /* background-color: #dda25ea4; */
  background-color: #d5ffedf8;
  border-radius: 0.4em;
  padding: 0.2em;
  box-shadow: 0px 1px rgb(87, 87, 87);
}

.mainStats_podiums {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* width: 75px;
  height: 75px; */
  min-width: 100px;
  min-height: 95px;
  max-height: 100px;

  /* background-color: #fefae0c1; */
  /* background-color: #bc6b25b6; */
  background-color: #d5ffedf8;
  border-radius: 0.4em;
  padding: 0.2em;
  box-shadow: 0px 1px rgb(87, 87, 87);
}

.mainStats_earnings {
  display: flex;
  padding: 1em 0em;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* min-width: 115px;
  height: 75px; */
  min-width: 100px;
  min-height: 95px;
  max-height: 100px;

  /* background-color: #bc6b25b6; */
  /* background-color: #606c38b8; */
  background-color: #d5ffedf8;
  border-radius: 0.4em;
  padding: 0.2em;
  box-shadow: 0px 1px rgb(87, 87, 87);
}

.playerbio_section_mainStats h1,
p {
  margin: 0px;
  padding: 0px;
}

.playerbio_section > .playerbio_section_xStats {
  grid-area: xstat;
  width: 100%;
  height: 100%;
  background-color: #e6510000;
  color: rgb(68, 68, 68);
  display: flex;
  justify-content: space-evenly;
  font-family: "Urbanist", sans-serif;
  gap: 1em;
}

.playerbio_section_xStats .xStats_totalEvents {
  display: flex;
  padding: 1em 0em;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-width: 100px;
  min-height: 95px;
  max-height: 100px;

  /* background-color: #bc6b25b6; */
  /* background-color: #606c38b8; */
  /* background-color: #ffedd5f8; */
  background-color: #d5ffedf8;
  border-radius: 0.4em;
  padding: 0.2em;
  box-shadow: 0px 1px rgb(87, 87, 87);
}

.xStats_totalEvents h1,
p {
  margin: 0px;
  padding: 0px;
}

.playerbio_section > .player_mainRadials {
  grid-area: radial;
  box-sizing: border-box;
  padding-top: 0.4em;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* background-color:#ff9d0013; */
  background-image: linear-gradient(to bottom, #ff9d0013, #ff9d003e );
  border-radius: 0.4em;
  /* border: 1px solid #ea7317; */

  align-items: center;
  justify-content: center;
  gap: 0em;
  /* box-sizing: border-box; */
  font-family: "Urbanist", sans-serif;
  position: relative;
}

.radialPerformance_headerSection {
  display: flex;
  width: 94%;
  justify-content: space-between;
  align-items: center;
  /* color: rgb(99, 99, 99); */
  color: rgb(100, 100, 100);
  position: absolute;
  top: 0.4em;
}

.radialPerformance_headerSection h4 {
  margin: 0em;
}

.radial_bin {
  display: flex;
  flex-direction: row;
}

.radial_dropdown {
  background-color: rgba(255, 255, 255, 0);
  /* color: rgb(92, 92, 92); */
  color: rgb(52, 52, 52);
  border-style: none;
}

.radial_configs .radial_dropdown:active,
.radial_dropdown:focus {
  background-color: rgba(255, 255, 255, 0);
  color: rgb(92, 92, 92);
  outline: none;
}

.player_radials {
  width: 150px;
  /* height: 50px; */
  margin: 0em;
  margin-top: 0.8em;
  padding: 0em;
}

.playerbio_section > .playerbio_section_searchCompare {
  /* grid-area: search; */
  background-color: rgba(127, 255, 212, 0);
  height: 100%;
  width: 100%;
  color: rgb(64, 64, 64);
  font-family: "Urbanist", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2em;
}

.playerbio_section_searchCompare h4 {
  margin: 0px;
  padding: 0px;
}

.playerbio_section_searchCompare input {
  height: 20px;
  border: none;
  border-radius: 0.4em;
  padding: 0.4em;
  font-family: "Urbanist", sans-serif;
  border: 1px solid rgb(73, 106, 162);
}

.playerbio_section_searchCompare input:focus {
  outline: none;
}

.playerbio_section_searchCompare button {
  height: 34px;
  width: 70px;
  border: none;
  padding: 0.4em;
  border-radius: 0.4em;
  /* box-shadow: 0px 2px rgb(90, 90, 90); */
  color: white;
  background-color: rgb(0, 83, 12);
}

.playerbio_section_searchCompare button:active {
  /* transform: translateY(1px);
  box-shadow: 0px 0px rgb(87, 87, 87); */
  background-color: rgb(0, 133, 20);
}

.totalStats_container {
  width: 100%;
  /* max-width: 1100px; */
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.totalStats_section {
  /* background-color: #d5ffedf8; */
  /* border: solid 1px #077445f8;
  background-color: #cbffe95d; */
  background-image: linear-gradient(to bottom, #d5ffed77, #d5ffedf8 );
  border-radius: 0.4em;
  font-family: "Urbanist", sans-serif;
  color: rgb(99, 99, 99);

  min-width: 500px;
  max-width: 560px;
  width: 60%;
  height: 400px;

  display: flex;
  padding: 1em;
  align-items: center;
  justify-content: space-evenly;

  position: relative;
  gap: 1em;
  /* box-sizing: border-box; */
}

.totalStats_sectionHeader {
  width: 95%;
  position: absolute;
  top: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.totalStats_section_title {
  margin: 0px;
  padding: 0px;
}

.totalStats_categoryDropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.categoryDropdown {
  width: 120px;
  /* max-width: 140px; */
  height: 30px;
  font-family: "Urbanist", sans-serif;
  font-weight: bolder;
  font-size: 1.2em;
  color: rgb(92, 92, 92);
  border-style: none;
  border-bottom: 1px solid black;
  background-color: #ffffff00;
}

.categoryDropdown:active,
.categoryDropdown:focus {
  border-style: none;
  outline: none;
  border-bottom: 1px solid black;
}

.radar_modification_container{
  height: 40%;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4em;
}

#radar_checklist_container {
  border: 1px solid rgb(156, 156, 156);
  padding: 0.2em;
  background-color: white;
  border-radius: 0.4em;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: left;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  /* direction: rtl; */
}

/* #radar_checklist_container::-webkit-scrollbar {
  display: none;
}

#radar_checklist_container {
  scrollbar-width: none;
}


#radar_checklist_container {
  -ms-overflow-style: none;
} */

.radar_checklist_submitBtn {
  width: 100%;
  height: 40px;
  border: none;
  color: white;
  border-radius: 0.4em;
  /* background-image: linear-gradient(to bottom, rgb(35, 215, 173), rgb(0, 166, 94)); */
  background-color: #002c19f8;
  transform: translateY(2px);
  box-shadow: black 0px 1px 2px;
}

.radar_checklist_submitBtn:active {
  box-shadow: black 0px 0px 0px;
}



canvas {
  /* position: absolute;
  right: 50px; */
  margin-top: 2em;
  height: 44%;
}

.totalStats_breakdown {
  /* background-color: #d5ffedf8; */
  /* border: solid 1px #ea7317; */
  background-image: linear-gradient(to bottom, #ff9d0013, #ff9d003e );
  background-color: #ff9d0013;
  border-radius: 0.4em;
  font-family: "Urbanist", sans-serif;
  color: rgb(99, 99, 99);

  min-width: 300px;
  max-width: 440px;
  width: 40%;
  min-height: 400px;

  display: flex;
  padding: 1em;
  align-items: center;

  position: relative;
  overflow-y: auto;
  overflow-x: auto;
}

.breakdown_hbars {
  position: absolute;
  top: 25px;
  width: 100%;
}

.playerStats_tableStats {
  margin-top: 5em;
  min-height: 500px;
  width: 100%;
}

.playerStats_tableStats table {
  font-family: "Urbanist", sans-serif;
  max-width: 1200px;
}

.window_globe_tooltip_container{
  /* display: none; */
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  position: fixed;
}


