body {
  margin: 0px;
  padding: 0px;
  /* background-color: #d5ffedf8; */
  background-color: #e6510000;
}

nav {
  display: flex;
  margin: em 0em;
  background-color: rgb(0, 47, 0);
  background-image: linear-gradient(to bottom, rgb(0, 40, 0), rgb(0, 47, 0));
  color: white;
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
  min-width: 1000px;
  height: 100px;
  justify-content: space-between;
  box-sizing: border-box;
}

nav h3 {
  margin: 0px;
  height: 100%;
  transition: 0.1s;
}

nav h3:hover {
  color: #e65100;
  transform: translateY(-2px);
}

nav div img:hover {
  transition: 0.1s;
  transform: translateY(-2px);
}

.navbar_icon {
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: center;
  margin: 0.5em;
}

.navbar_icon img {
  width: 100%;
}

.navbar_links {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbar_links div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.player_container {
  width: 100%;
  height: 400px;
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-sizing: border-box; */
}

.playerbio_section {
  background-color: white;
  border-radius: 0.4em;
  min-width: 1100px;
  max-width: 1100px;
  height: 100%;
  display: grid;
  margin: 1em;
  grid-template-areas:
    "pic pic pic bio bio stat stat stat stat"
    "pic pic pic spons spons stat stat stat stat"
    "pic pic pic media media search search search search";

  grid-template-columns: repeat(9, 1fr);
  gap: 10px;
  padding: 1em;
  box-sizing: border-box;
}

.playerbio_section > .playerbio_section_profilepic {
  grid-area: pic;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 0.4em;
  overflow: hidden;
  position: relative;
}

.playerbio_section_profilepic img {
  height: 100%;
  position: absolute;
  left: -20px;
  border-radius: 0.4em;
}

.playerbio_section > .playerbio_section_selfIntro {
  grid-area: bio;
  color: rgb(64, 64, 64);
  background-color: rgba(106, 234, 106, 0.003);
  font-family: "Urbanist", sans-serif;
  font-size: 1.5em;
}

.playerbio_section_selfIntro h1,p{
  margin: 0px;
}

.playerbio_section > .playerbio_section_media {
  grid-area: media;
  background-color: rgba(137, 173, 207, 0);
  height: 100%;
  width: 100%;
  font-family: "Urbanist", sans-serif;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}

.playerbio_section_media p{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.playerbio_section > .playerbio_section_mainStats {
  grid-area: stat;
  width: 100%;
  height: 100%;
  background-color: #e6510000;
  color: rgb(68, 68, 68);
  display: flex;
  justify-content: space-evenly;
  font-family: "Urbanist", sans-serif
}

.mainStats_wins {
  padding: 0.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width:75px;
  height: 75px;

  /* background-color: #dda25ea4; */
  /* background-color: #fefae0c1; */
  background-color: #d5ffedf8;
  border-radius: 0.4em;
}

.mainStats_topTens {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 75px;
  height: 75px;

  /* background-color: #606c38b8; */
  /* background-color: #dda25ea4; */
  background-color: #d5ffedf8;
  border-radius: 0.4em;
  padding: 0.2em;
}

.mainStats_podiums {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 75px;
  height: 75px;

  /* background-color: #fefae0c1; */
  /* background-color: #bc6b25b6; */
  background-color: #d5ffedf8;
  border-radius: 0.4em;
  padding: 0.2em;
}

.mainStats_earnings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-width: 75px;
  height: 75px;

  /* background-color: #bc6b25b6; */
  /* background-color: #606c38b8; */
  background-color: #d5ffedf8;
  border-radius: 0.4em;
  padding: 0.2em;
}

.playerbio_section_mainStats  h1,p{
  margin: 0px;
  padding: 0px;

}

.playerbio_section > .playerbio_section_searchCompare {
  grid-area: search;
  background-color: rgba(127, 255, 212, 0);
  height: 100%;
  width: 100%;
  color: rgb(64, 64, 64);
  font-family: "Urbanist", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  
}

.playerbio_section_searchCompare input {
  height: 30px;
  border: none;
  border-radius: 0.4em;
  padding: 0.4em;
  font-family: "Urbanist", sans-serif;
  border: 1px solid rgb(73, 106, 162);
}

.playerbio_section_searchCompare input:focus {
  outline: none;
}

.playerbio_section_searchCompare button {
  height: 40px;
  width: 70px;
  border: none;
  padding: 0.4em;
  border-radius: 0.4em;
  box-shadow: 0px 2px rgb(90, 90, 90);
  color: white;
  background-color: rgb(0, 145, 255);
}

.playerbio_section_searchCompare button:active {
  transform: translateY(1px);
  box-shadow: 0px 0px rgb(87, 87, 87);
}



/* 
.playerbio_section {
  width: 95%;
  height: 350px;
  background-color: white;
  border-radius: 0.4em;

  display: flex;
  align-items: center;
  position: relative;

  overflow: hidden;
}

.playerbio_section_profilepic {
  position: absolute;
  left: 10px;
  height: 80%;
  border-radius: 0.3em;
  display:none;

} */
.totalStats_container {
  width: 100%;
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.totalStats_section {
  background-color: gray;
  width: 90%;
  height: 300px;
}

